.container {
  display: block;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid black;
  width: 80%;
}

.App footer a {
  color: gray;
}

.App footer {
  font-size: small;
  text-align: center;
}
