.Dictionary form {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(185, 123, 161, 0.5);
}

.Dictionary input {
  width: 100%;
  background-color: rgba(97, 193, 167, 0.4);
  border-radius: 5px;
  line-height: 30px;
  padding: 0px 10px;
}
